// BREAKPOINTS
$bp1=   30em
$bp2=   48em
$bp3=   56.25em
$bp4=   68.75em
$bp5=   0



// COLOURS

//   Main colours
$maincolor=          #2D353E
$darkmaincolor=      darken($maincolor, 15%)
$lightmaincolor=     lighten($maincolor, 15%)
$secondcolor=        #D94B2E
$darksecondcolor=    darken($secondcolor, 15%)
$lightsecondcolor=   lighten($secondcolor, 15%)

//   Greyscale
$black=           #000000
$darkgrey=        lighten($black, 25%)
$grey=            lighten($black, 50%)
$lightgrey=       lighten($black, 75%)
$white=           #FFFFFF

//   Messages colours
$alertcolor=      #FCF8E3
$errorcolor=      #DA4F49
$infocolor=       #D9EDF7
$inverscolor=     #414141
$successcolor=    #5BB75B
$warningcolor=    #FAA732

/*
//   Links colours
$linkcolor=          #013568
$linkcolorvisited=   darken($linkcolor, 15%)

//   Buttons colours
$buttoncolor=        $white
$buttonbackground=   #5BB75B
*/


// TYPOGRAPHY
$mainfont=       "Roboto", sans-serif, Helvetica, Arial
$secondfont=     Cambria, Georgia, Times, "Times New Roman"



// BODY PARAMETERS
$bodybackgroundcolor=    $white
$bodyfontfamily=         $mainfont
$bodyfontsize=           16px
$bodycolor=              $black
$bodylineheight=         1.35em
