html,body
    background  $bodybackgroundcolor
    color       $bodycolor
    font        $bodyfontsize $bodyfontfamily
    height      100%
    line-height $bodylineheight
    overflow-x  hidden
    width       100%
.bmain
    background  $maincolor
    color       $white
/* HEADER */
.header
    background  $white
    overflow    hidden
    padding     1em
    width       100%
.logo-div
    text-align  center
    width       100%
.logo-img
    height      3em
/* BODY */
.body-section
    height      40em
    overflow    hidden
.complete-div-section
    height      20em
    padding     5%
    text-align  center
    width       100%
.device-section
    background-image        url('/static/img/nexus5_black.png')
    background-repeat       no-repeat
    background-size         400px
    background-position-x   50%
    background-position-y   15%
.store-button
    height      2.5em
    margin-top  2em

@media screen and (min-width: $bp2)
    .logo-div
        float           left
        text-align      left
        padding-left    10%
        width           35%
    .complete-div-section
        float       left
        height      100%
        text-align  center
        width       50%
@media screen and (min-width: $bp4)
    .logo-div
        width       55%
