@font-face
    font-family 'icomoon'
    src url('fonts/icomoon/icomoon.eot?-4e3ti')
    src url('fonts/icomoon/icomoon.eot?#iefix-4e3ti') format('embedded-opentype'),
        url('fonts/icomoon/icomoon.woff?-4e3ti') format('woff'),
        url('fonts/icomoon/icomoon.ttf?-4e3ti') format('truetype'),
        url('fonts/icomoon/icomoon.svg?-4e3ti#icomoon') format('svg')
    font-weight normal
    font-style normal

html,body
    background  $bodybackgroundcolor
    color       $bodycolor
    font        $bodyfontsize $bodyfontfamily
    height      100%
    line-height $bodylineheight
    overflow-x  hidden
    width       100%
.bmain
    background  $maincolor
    color       $white
/* HEADER */
.header
    background  $white
    overflow    hidden
    padding     1em
    width       100%
.logo-div
    text-align  center
    width       100%
.logo-img
    height      3em
/* BODY */
.body-section
    height      40em
    overflow    hidden
.complete-div-section
    height      20em
    padding     5%
    text-align  center
    width       100%
.device-section
    background-image        url('/static/img/nexus5_black.png')
    background-repeat       no-repeat
    background-size         400px
    background-position-x   50%
    background-position-y   15%
.store-button
    height      2.5em
    margin-top  2em
/* FOOTER */
.footer-section
    background  lighten($black,10%)
    color       $white
    overflow    hidden
.icon-anchor
    color       $white
    overflow    hidden
.icon
    float       left
    font        2em 'icomoon'
    height      2.5em
    padding     .7em 0
    text-align  center
    width       33.33%
.twitter-icon
    background-color  #4099FF
.gplus-icon
    background-color  #D34836
.github-icon
    background-color  #000000
.apple-icon
    background-color  #444444
.android-icon
    background-color  #A4C739
.mail-icon
    background-color  #BB0000
.icon-title
    font-size   1.2em
    height      4.16em
    padding     1.2em 0
    text-align  center

@media screen and (min-width: $bp2)
    .logo-div
        float           left
        text-align      left
        padding-left    10%
        width           35%
    .complete-div-section
        float       left
        height      100%
        text-align  center
        width       50%
    .icon
        width       16.66%
@media screen and (min-width: $bp4)
    .logo-div
        width       55%
